<div class="wrapper">
    <div class="salute">
        <h1 style="font-weight:bold;">Hello,</h1> 
        <h4>Let's get something?</h4>
    </div>
    <div class="container">
        <img src="../../../../assets/Component 4.jpg" alt="comp4">
        <img src="../../../../assets/Component 5.jpg" alt="comp5">
         <div class="categories">
            <h2 style="font-weight: bold;">Categories</h2>
            <img src="../../../../assets/category1.jpg" alt="">
            <img src="../../../../assets/category2.png" alt="">
            <img src="../../../../assets/category3.png" alt="">
            <img src="../../../../assets/category4.png" alt="">
         </div>  
         <div class="popularProducts">
            <popular-products></popular-products>
         </div> 
    </div>
</div>